*{
    box-sizing:border-box;
    color:D9D9D9;

}

body{

    margin:0;
    font-family: "Hanken Grotesk", Arial,Sans-serif;
    background-color: #262626;
    color:#D9D9D9;
    display:flex;
    justify-content: center;
    padding:20px;
    height:100vh;
}

header{
    color:white;
    text-align: center;
}
header p{
    font-size:0.875rem;
    max-width:350px
}
header h1{
    font-size: 1.25 rem;
    font-weight: 500;
}

.status{
    text-align: center;
    background-color: green;
    padding-top:1px;
    padding-bottom:1px;
    margin-top:30px;
    
  
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   height:60px;
   margin-block:30px
   
}
.status p{
    margin:5px
}
.status h3{
    font-size: 1.25rem;
    margin:5px;
}

.languages{
    display:flex;
    max-width: 300px;
    margin-top: 25px;
    gap:5px;
    
    

    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 36px;
}
.chips{
    width:55px;
    height:20px;
    border-radius: 3px;
    padding:4.5px;
    font-size: 10px;
    display:flex;
    justify-content: center;
    


}


.words{
   display: flex;
   justify-content: center;
   gap:3px;
   margin-bottom: 30px;
}

.letter{
    height: 40px;
    width:40px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}

.keyboard{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:8px;
    max-width: 430.2px;
}

.key{
    height:35px;
    width:35px;
   border-radius: 3px;
   background-color: #FCAB29;
}

.new{
display:flex;
justify-content: center;
margin-top: 23px;
color:white;

}
.new button{
    width:110px;
    border-radius: 6px;
    height:30px;
    background-color: rgb(39, 120, 161);
    color:white;
}